<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    setTimeout(() => {
        location.href = 'test.html';
    }, 5000);
</script>
<body>
    <h1>waiting...</h1>
</body>
</html>